.git
.gitignore
.vscode
.venv
.venv_dl
.env
__pycache__
*.pyc
*.pyo
*.log

frontend/node_modules
frontend/dist
backend/target

notebooks
tests
docs

data
models/*
!models/.gitkeep

backend_stdout.log
backend_stderr.log
backend_stdout_live.log
backend_stderr_live.log
